h2 {
  font-size: 30px;
  font-family: times;
  font-style: italic;
  text-align: center;
}

.img-circle {
  border-radius: 50px;
  height: 100px;
  margin: 50px;
}

.padded {
  font-size: 30px;
  font-family: times;
  font-style: italic;
  text-align: center;
  margin-top: 30px;
}
